/* ==================== */
/* == Pie Charts
/* ==================== */
@supports (clip-path: polygon( 50% calc( 50% + ( var(--gt-25, 0) ) ) )) {
  .pie-container .fieldset {
    display: flex !important;
  }

  .table-charts.pie {
    --radius: 32em;
    margin: 0 auto;
    padding-top: calc(var(--radius) - #{$gutter * 2});
    position: relative;

    tbody {
      display: table-row;
    }

    tr {
      display: table-cell;
      transition: opacity .3s map-get( $timing-functions, 'move' );
      will-change: opacity;
    }

    [scope="row"] {
      padding-right: $gutter / 2;

      &::before {
        background: var(--color, currentColor) var(--background);
        content: "";
        display: inline-block;
        height: $gutter;
        transform: translate3d(-.2rem, .1rem, 0);
        width: $gutter;
      }
    }

    td {
      --position: calc(var(--start, 0) * .01turn);
    }

    td::after,
    td::before {
      left: 50%;
      position: absolute;
      top: 40%;
      transform-origin: center center;
    }

    /**
     * Using clip-path + calc() + transform + CSS vars
     * Using mask-image to make a circle
     *
     * @note Based on Ana Tudor's work
     * @link https://css-tricks.com/1-html-element-5-css-properties-magic/
     * @author Ana Tudor
     *
     * @note Using a Roma Komarov's idea about boolean custom properties
     * @link https://www.kizu.ru/conditions-for-css-variables/
     *
     * @note Mask support:
     * @link https://caniuse.com/#search=mask
     */
    td::before {
      --zoom: .75;
      --part: calc( var(--value) * 3.6 );
      --main-angle: calc( var(--part) - ( 90 * ( var(--gt-25, 0) + var(--gt-50, 0) + var(--gt-75, 0) ) ) );
      --β: calc( var(--main-angle) * 0.01745329251 );
      --α: calc( ( 90 - var(--main-angle) ) * 0.01745329251 );
      @include sin(β);
      @include sin(α);
      --pos-B: calc( var(--sin-β) * 50 );
      --pos-A: calc( var(--sin-α) * 50 );
      background: var(--color, currentColor) var(--background);
      clip-path: polygon(
        50% 50%,
        50% 0%,
        100% 0%,
        calc( 50% + ( var(--pos-B) * 1% * var(--lt-25, 1) ) + ( var(--gt-25, 0) * 50% ) ) calc( 50% - ( var(--pos-A) * 1% * var(--lt-25, 1) ) ),
        calc( 50% + ( var(--gt-25, 0) * 50% ) )                                           calc( 50% + ( var(--gt-25, 0) * 50% ) ),
        calc( 50% + ( var(--pos-A) * 1% * var(--lt-50, 1) ) + ( var(--gt-50, 0) * 50% ) ) calc( 50% + ( var(--pos-B) * 1% * var(--lt-50, 1) ) + ( var(--gt-50, 0) * 50% ) ),
        calc( 50% - ( var(--gt-50, 0) * 50% ) )                                           calc( 50% + ( var(--gt-50, 0) * 50% ) ),
        calc( 50% - ( var(--pos-B) * 1% * var(--lt-75, 1) ) - ( var(--gt-75, 0) * 50% ) ) calc( 50% + ( var(--pos-A) * 1% * var(--lt-75, 1) ) ),
        calc( 50% - ( var(--gt-75, 0) * 50% ) )                                           calc( 50% - ( var(--gt-75, 0) * 50% ) ),
        calc( 50% - ( var(--pos-A) * 1% * var(--gt-75, 0) ) )                             calc( 50% - ( var(--pos-B) * 1% * var(--gt-75, 0) ) ),
        50% 50%
      );
      content: '';
      height: var(--radius);
      mask-image: radial-gradient(
        circle at center,
        palette( default, contrast) 0%,
        palette( default, contrast) calc(var(--radius) / 2),
        transparent 0
      );
      transform:
        translate3d(-50%, -50%, 0)
        rotate( var(--position) )
        scale( var(--zoom) );
      transition: transform .2s map-get( $timing-functions, 'move' );
      width: var(--radius);
      will-change: transform, filter;
    }

    tbody:hover td::before {
      filter: grayscale(50%);
    }

    tr:hover td::before {
      --zoom: .8;
      filter: none;
    }

    @each $name, $pattern in $patterns {
      $i: index($patterns, ($name $pattern));

      tr:nth-child(#{$i}n + #{$i}) {
        --background: var(--#{$name}); /* 1 */
      }
    }

    td::after {
      --arrow: calc(100% - #{$gutter / 4});
      --axis: calc( var(--position) - .25turn + var(--value) * .005turn );
      --away: calc( var(--radius) / 2 - #{$gutter} );
      background-color: palette( dominant );
      color: palette( dominant, contrast );
      content: var(--term) "\A0: " counter(value) "\A0%";
      counter-reset: value var(--value);
      opacity: 0;
      padding: $gutter / 2;
      pointer-events: none;
      transform-origin: 50% calc(100% + 10px);
      transform:
        translate3d(-50%, -50%, 0)
        rotate( var(--axis) )
        translate( var(--away) )
        rotate( calc( var(--axis) * -1 ) )
        perspective(1000px)
        rotate3d(1, 0, 0, 45deg);
      transition:
        opacity .2s map-get( $timing-functions, 'enter' ),
        transform .2s map-get( $timing-functions, 'enter' );
      will-change: opacity, transform;
    }

    tbody:hover tr {
      opacity: .5;

      &:hover {
        opacity: 1;
      }

      &:hover td::after {
        opacity: 1;
        transform:
          translate3d(-50%, -50%, 0)
          rotate( var(--axis) )
          translate( var(--away) )
          rotate( calc( var(--axis) * -1 ) )
          perspective(1000px)
          rotate3d(1, 0, 0, 0deg);
        transition:
          opacity .2s map-get( $timing-functions, 'exit' ),
          transform .2s map-get( $timing-functions, 'exit' );
      }
    }
  }

  .table-charts.polar {
    td::before {
      --zoom: 50;
      transform:
        translate3d(-50%, -50%, 0)
        rotate( var(--position) )
        scale( calc( ( var(--zoom) + ( var(--value) / ( 100 / var(--zoom) ) ) ) / 100 ) );
    }

    tr:hover td::before {
      --zoom: 50;
    }
  }

   .table-charts.donut {
     mask-image: radial-gradient(
       circle at 50% calc(50% - #{$gutter * 2}),
       transparent 0%,
       transparent var(--offset),
       palette( default, contrast) calc(var(--offset) + 1px),
       palette( default, contrast) 100%
     );

     td::after {
       --away: calc( var(--radius) / 2 - #{$gutter * 2.5} );
     }
   }

  /**
   * @note Custom color palette for WHCM
   * @note Inspired by Greg Whitworth's post
   * @link http://www.gwhitworth.com/blog/2017/04/how-to-use-ms-high-contrast
   */
  @media screen and (-ms-high-contrast: active) {
    .table-charts.pie {
      tbody tr *::before {
        background-color: Window;
      }

      tbody tr:nth-of-type(odd) *::before {
        background-color: WindowText;
      }
    }
  }
}
