/* ==================== */
/* == Radar Charts
/* ==================== */

@supports(clip-path: polygon(calc( 0% 0%, 100% - ( var(--1) * 100% / var(--scale) ) ) 100%, 100% 100%)) {
  .radar-container .fieldset {
    display: flex !important;
  }

  .table-charts[class*="radar"] {
    --radius: #{$width / 5};
    --unitless-radius: calc( 1024 / 16 / 5 );
    --size: calc( var(--radius) / var(--scale) );
    --part: calc( 360deg / var(--items) );
    background-image:
      repeating-radial-gradient(
        circle at 50%,
        rgba(0, 0, 0, .2),
        rgba(0, 0, 0, .2) 2px,
        transparent 0,
        transparent calc(var(--size) * var(--step))
      ),
      repeating-radial-gradient(
        circle at 50%,
        rgba(0, 0, 0, .1),
        rgba(0, 0, 0, .1) 2px,
        transparent 0,
        transparent var(--size)
      );
    border: 2px solid;
    border-radius: 50%;
    contain: layout;
    counter-reset: scale var(--scale);
    height: calc( var(--radius) * 2 );
    margin: $gutter * 6 auto $gutter * 12;
    overflow: visible;
    position: relative;
    width: calc( var(--radius) * 2 );

    caption {
      background: none;
      bottom: $gutter * -10;
      position: absolute;
    }

    /**
     * Placing items around a circle based on:
     * @link https://stackoverflow.com/questions/12813573/position-icons-into-circle
     * @link http://dabblet.com/gist/3866686
     * @author Ana Tudor
     *
     * @note Negative values for radius helps to start at the top left corner
     */
    [scope="col"] {
      --away: calc( (var(--radius) * -1) - 50% );
      left: 50%;
      margin: 0;
      padding: 0 $gutter;
      position: absolute;
      top: 50%;
      transform:
        translate3d(-50%, -50%, 0)
        rotate( calc(var(--part) * var(--index, 1)) )
        translate( var(--away) )
        rotate( calc(var(--part) * var(--index, 1) * -1) );
    }

    @each $number in 1, 2, 3, 4, 5, 6, 7 {
      tr > *:nth-of-type(#{$number}) {
        --index: #{$number};
      }
    }

    /**
     * This is quite sophisticated, we're mixing multiple techniques
     *
     * @note Setting items as parts of the circle:
     * @link https://tympanus.net/codrops/2013/08/09/building-a-circular-navigation-with-css-transforms/
     * @author Sara Soueidan
     *
     * @note Because we skew items, clip-path() needs to take skew angle into account
     * @note To do so, we need to know skewed width (which is hypothenuse of the resulting triangle)
     * @note We only know two angles (skew one + suqare one) and a side (initial width),
     * @note So we need to compute the sinus of the opposite angle to get hypothenuse
     * @note Thanks god, Stereokai made trigonometry functions in pure CSS:
     *
     * @note Trigonometry functions based on:
     * @link https://gist.github.com/stereokai/7666bfe93929b14c2dced148c79e0e97
     * @author Stereokai
     */
    td {
      --skew: calc( 90deg - var(--part) );
      border-bottom: 1px solid palette( accent, light );
      height: 50%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      transform:
        rotate( calc(var(--part) * var(--index, 1)) )
        skew( var(--skew) );
      transform-origin: 100% 100%;
      width: 50%;

      @each $number in 1, 2, 3, 4, 5, 6, 7 {
        &:nth-of-type(#{$number}) span {
          --pos: calc( 100% - (var(--#{$number + 1}) * 100% / (var(--scale) * var(--ratio) ) ) );
          clip-path: polygon(
            100% var(--pos),
            calc( 100% - ( var(--#{$number}) * 100% / var(--scale) ) ) 100%,
            100% 100%
          );
        }
      }

      &::after,
      &::before {
        display: none;
      }
    }

    span {
      --opposite: calc( 180 - (90 + (90 - (360 / var(--items)))) );
      // get opposite angle in radians
      --angle: calc( var(--opposite) * 0.01745329251 );
      // calc() sin, dark wizardry!
      @include sin(angle);
      // calc() hypothenuse
      --hypo: calc( var(--unitless-radius) / var(--sin-angle) );
      // get the ratio: skewed / initial width
      --ratio: calc( var(--hypo) / var(--unitless-radius) );
      background: linear-gradient(
        to top left,
        palette( accent, light ) 10%,
        palette( secondary, dark ) 75%
      );
      filter: drop-shadow( 0 0 $gutter palette( accent, dark ) );
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .table-charts.radar [scope="col"] {
    &::after {
      color: palette( accent );
      display: block;
      font-size: small;
      font-weight: 400;
    }

    /**
     * 1.
     * @note Display CSS integers custom properties with a trick using counters
     * @author Cassie Evans
     * @link https://codepen.io/cassie-codes/pen/22ea69e0f681d45f2f4c2ca5e6acf4ab
     */
    @each $number in 1, 2, 3, 4, 5, 6, 7 {
      &:nth-child(#{$number})::after {
        counter-reset: value var(--#{$number});           /* 1 */
        content: counter(value) "\A0/\A0" counter(scale); /* 1 */
      }
    }
  }

  .table-charts.radar-multiple {
    margin-bottom: $gutter * 12;

    tbody {
      columns: var(--areas);
      vertical-align: bottom;
    }

    [scope="row"] {
      bottom: $gutter * -8;
      height: $gutter * 2;
      left: $gutter;
      position: absolute;

      &::before {
        background: var(--color, currentColor);
        content: "";
        display: inline-block;
        height: $gutter;
        margin-right: $gutter / 4;
        transform: translate3d(0, .1rem, 0);
        width: $gutter;
      }
    }

    // Allowing more areas :)
    @each $number in 1 {
      tr:nth-child(#{$number + 1}) [scope="row"] {
        left: calc( #{$gutter} + (100% / var(--areas)) * #{$number});
      }
    }

    td {
      align-items: flex-end;
      border-color: var(--color, currentColor);
      display: flex;
      justify-content: flex-end;
      opacity: .5;
      pointer-events: none;
      z-index: 0;

      &::after {
        color: var(--color, currentColor);
        display: block;
        font-size: small;
        font-weight: 700;
        text-indent: #{$gutter / -2};
        transform:
          skew( calc( var(--skew) * -1 ) )
          rotate( calc( var(--part) * var(--index, 1) * -1 ) );
        transform-origin: 0 0;
        width: 100%;
        white-space: nowrap;
      }

      @each $number in 1, 2, 3, 4, 5, 6, 7 {
        &:nth-of-type(#{$number})::after {
          counter-reset: value var(--#{$number}); /* 1 */
          content: counter(value);                /* 1 */
          width: calc( var(--#{$number}) * 100% / var(--scale) );
        }
      }
    }

    span {
      background: var(--color, currentColor);
      pointer-events: auto;

      @supports ( mask-image: url() ) {
        mask-image: radial-gradient(circle at bottom right, rgba(0,0,0,1), rgba(0,0,0,.5));
      }
    }

    @media (hover: hover) {
      td {
        opacity: .25;
        transition: opacity .2s map-get( $timing-functions, 'move' );
        will-change: opacity;

        &::after {
          opacity: 0;
          transition: inherit;
          will-change: inherit;
        }
      }

      tr:hover td {
        opacity: 1;
        z-index: 1;

        &::after {
          opacity: inherit;
        }
      }
    }
  }
}
