/* ==================== */
/* == Abstracts
/* ==================== */
@import "abstracts/functions";
@import "abstracts/variables";
@import "abstracts/mixins";

/* ==================== */
/* == Charts
/* ==================== */
.table-container {
  margin: $gutter * 2 0;
}

.table-container .fieldset {
  display: none !important;
  padding: 0 $gutter;
}

[class*="chaarts"] {
  [role="presentation"] {
    display: none;
  }

  abbr[title] {
    border-bottom: 0;
    font-size: small;
    font-weight: normal;
    text-transform: none;
  }
}

.chaarts {
  caption-side: bottom;
  empty-cells: hide;
  margin: 1.5em auto;
  overflow: hidden;
  padding: 1em;

  /**
   * @note Defining a CSS custom property for each inlined SVG pattern
   * @author Trys Mudford
   * @link https://www.trysmudford.com/blog/using-css-custom-properties/
   * @via Jeremy Keith
   * @link https://adactio.com/journal/15075
   */
  @each $name, $pattern in $patterns {
    --#{$name}: url("#{$pattern}");
  }

  > caption:first-child {
    background: inherit;
    font-style: normal;
    padding: $gutter 0;
  }
}

table:not(.chaarts) .sr-only {
  clip: auto !important;
	clip-path: none !important;
	height: auto !important;
	overflow: visible !important;
  position: static !important;
	width: auto !important;
	white-space: normal !important;
}

@media screen and (min-width: em(480)) {
  .chaarts {
    border-collapse: separate;
    border-spacing: 0;
    /**
     * @note Trying to improve paint & layout performances
     * @link https://developer.mozilla.org/fr/docs/Web/CSS/contain
     */
    contain: content;

    th,
    td {
      border: 0;
      padding: 0;

      &:empty {
        display: none !important;
      }
    }
  }

  @import "chaarts-bar";
  @import "chaarts-pie";
  @import "chaarts-line";
  @import "chaarts-column";
  @import "chaarts-radar";
}
