@use "sass:list";
@use "./variables";

@mixin dark-mode() {
	html:where([data-theme="dark"]) & {
		@content;
	}

	@media (prefers-color-scheme: dark) {
		.no-js &,
		html:where(:not([data-theme="light"])) & {
			@content;
		}
	}
}

@mixin patterns {
	@each $pattern in variables.$patterns {
		$i: list.index(variables.$patterns, $pattern);

		&:nth-of-type(#{$i}n + #{$i}) {
			--background: var(--#{$pattern});
		}
	}
}
