@use "sass:math";

// ====================
// == Colors
// ====================
$colors: (
	default: (
		base: dimgray,
		dark: black,
		secondary: whitesmoke,
		contrast: white
	),
	charts: (
		purple: #639,
		pink: #e11a81,
		blue: #0172f0,
		yellow: #fdc02f,
		green: #39ca74,
		red: #ff2d40,
		gray: #585462
	)
);

// ====================
// == Spacings
// ====================
$width: math.div(1024em, 16) !default;
$gutter: 1rem !default;
$breakpoint: math.div(480em, 16) !default;

// ====================
// == Patterns
// ====================
$patterns: "checkers", "hexagons", "triangles", "zig", "stripes", "dots";
