@use "sass:math";

// ====================
// == Spacings
// ====================
$width: math.div(1024em, 16) !default;
$gutter: 1rem !default;

// Scale values: 0.25, 0.5, 1, 1.5, 2, 2.5, 4, 6, 8, 10, 12

// ====================
// == Patterns
// ====================
$patterns: "checkers", "hexagons", "triangles", "zig", "stripes", "dots";
