{% extends "accueil.html" %}

{% block meta %}
  <title>Histogramme — chaarts</title>
  <meta property="og:url" content="https://ffoodd.github.io/chaarts/fr/histogramme.html">
  <meta property="og:title" content="Histogramme — chaarts">
  <meta property="og:type" content="article">
  <meta property="og:description" name="description" content="Graphiques de données avec HTML & CSS">
  <meta name="twitter:card" content="summary">
  <link rel="alternate" hreflang="en" href="https://ffoodd.github.io/chaarts/column-charts.html"/>
{% endblock %}

{% block navigation %}
<ul class="fly-out">
  <li><a href="./accueil.html">Accueil</a></li>
  <li><a href="./barres.html">Barre</a></li>
  <li><a href="./courbe.html">Courbe</a></li>
  <li><a aria-current="page">Histogramme</a></li>
  <li><a href="./camembert.html">Camembert</a></li>
  <li><a href="./radar.html">Radar</a></li>
  <li class="ml-auto">
    <a rel="alternate" hreflang="en" lang="en" href="./column-charts.html"
       aria-label="English version" title="English version">EN</a>
  </li>
  <li>
    <a href="https://github.com/ffoodd/chaarts/" class="d-flex" hreflang="en">
      <svg viewBox="0 0 16 16" height="16" width="16" aria-hidden="true">
        <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
      </svg>
      &nbsp;GitHub
    </a>
  </li>
</ul>
{% endblock %}

{% block main %}
<h1>Histogramme</h1>

<p>
 L’histogramme sert pour <strong>les distributions de valeurs</strong>.
 La structure du tableau est tout à fait ordinaire, cependant sa mise en forme repose
 sur <code>display: grid;</code> et surtout <code>display: contents;</code> pour
 <strong>faciliter le placement des cellules</strong> —&nbsp;technique inspirée par
 <a href="https://hiddedevries.nl/en/blog/2018-04-21-more-accessible-markup-with-display-contents" hreflang="en">l’article
 de <cite>Hidde De Vries</cite> <q lang="en">More accessible markup with <code>display: contents</code></q></a>,
 et clarifiée par <a href="https://bitsofco.de/how-display-contents-works/" hreflang="en">l’article de
 <cite>Ire Aderinokun</cite> <q lang="en">How <code>display: contents</code> works</q></a>.
</p>

<p>Le principe de base est le même que <a href="./barres.html">le graphique en barre</a>&nbsp;:</p>
<ol>
 <li>
  la fonction <code>repeat()</code> appliquée avec la variable <var>--scale</var>
  permet de gérer une échelle dynamique&nbsp;;
 </li>
 <li>
  les conteneurs <code>&lt;thead&gt;</code>, <code>&lt;tbody&gt;</code> et <code>&lt;tr&gt;</code>
  sont neutralisés dans la gestion de la grille à l’aide de <code>display: contents</code>&nbsp;;
 <li>
  chaque cellule est placée sur la grille en fonction de <var>--value</var>
  —&nbsp;sa valeur, donc —&nbsp;sa couleur d’arrière-plan dépend également de
  sa valeur&nbsp;;
 </li>
 <li>
  et finalement la valeur textuelle —&nbsp;contenue dans un élément
  <code>&lt;span&gt;</code>&nbsp;— est positionnée en haut de la colonne
  à l’aide de la même astuce que dans le graphique en barre.
 </li>
</ol>

<div class="table-container column-container" role="group" aria-labelledby="caption-7">
 <div class="fieldset d-flex sm-hidden">
  <p class="label no-margin">
   <strong id="label-7">Interrupteur</strong><br>
   <span id="description-7">Permet de désactiver les styles sur le tableau suivant.</span>
  </p>
  <button type="button" class="ml-auto fw-400 no-border p-relative disable-css"
      role="switch" aria-checked="true"
      aria-labelledby="label-7" aria-describedby="description-7">
   <span>Guilleret</span>
   <span>Sobre</span>
  </button>
 </div>

 <table class="chaarts column-single" id="column" style="--y: 7;">
  <caption id="caption-7">Parts de marché navigateurs en France en janvier 2019</caption>
  <thead>
   <tr>
    <th scope="row">Navigateur</th>
    <th scope="col" style="--value: 62;">Chrome</th>
    <th scope="col" style="--value: 15;">Firefox</th>
    <th scope="col" style="--value: 9;">Safari</th>
    <th scope="col" style="--value: 5;">Edge</th>
    <th scope="col" style="--value: 6;">IE</th>
    <th scope="col" style="--value: 3;">Autres</th>
   </tr>
  </thead>
  <tbody>
   <tr>
    <th scope="row">Parts de marché</th>
    <td style="--value: 62;"><span>62&nbsp;%</span></td>
    <td style="--value: 15;"><span>15&nbsp;%</span></td>
    <td style="--value: 9;"><span>9&nbsp;%</span></td>
    <td style="--value: 5;"><span>5&nbsp;%</span></td>
    <td style="--value: 6;"><span>6&nbsp;%</span></td>
    <td style="--value: 3;"><span>3&nbsp;%</span></td>
   </tr>
  </tbody>
 </table>
</div>

<details>
 <summary>Le <abbr lang="en" title="HyperText Markup Language" aria-label="HyperText Markup Language">HTML</abbr></summary>
 <div>{% include 'includes/_column-markup.html' %}</div>
</details>
<details>
 <summary>Le <abbr lang="en" title="Cascading StyleSheet" aria-label="Cascading StyleSheet">css</abbr></summary>
 <div>{% include 'includes/_column-styles.html' %}</div>
</details>

<h2>Colonnes multiples</h2>

<p>
 Pour disposer de <var>deux</var> valeurs pour chaque colonne principale, nous devons également
 disposer de <var>deux</var> sous-titres.
 Concrètement parlant&nbsp;:
</p>

<ol>
 <li>
  on ajoute <strong>une seconde ligne dans l’entête</strong> <code>&lt;thead&gt;</code>&nbsp;:
  <ul>
   <li>
    avec <var>deux</var> cellules d’entête de colonne <code>&lt;th scope="col"&gt;</code>
    pour chaque cellule d’entête de colonne dans la première ligne d’entête&nbsp;;
   </li>
   <li>
    n’oublions pas d’ajouter un <code>colspan="2"</code> sur les cellules d’entête de
    la première ligne pour faire correspondre la structure du tableau&nbsp;;
   </li>
   <li>
    et enfin ajouter un <strong>identifiant</strong> à chaque cellule d’entête
    afin de les référencer sur les cellules de données concernées —&nbsp;à l’aide
    de l’attribut <code>headers</code>, par exemple pour la première cellule&nbsp;:
    <code>headers="navigateur chrome annee chrome-2018"</code> où chaque valeur est un
    identifiant de cellule d’entête.
   </li>
  </ul>
 </li>
 <li>
  Côté <strong>styles</strong>&nbsp;:
  <ul>
   <li>
    les cellules d’entête de premier niveau doivent s’étendre sur deux colonnes de la grille,
    comme le réclame leur attribut <code>colspan</code> pour la structure du tableau. Il est
    malheureusement <strong>impossible d’utiliser la valeur d’un attribut</strong> dans une autre
    propriété que <code>content</code> — sinon nous pourrions simplement écrire
    <code>grid-column: 2 / span attr(colspan);</code> et ça serait magnifique…
   </li>
   <li>
    mais non&nbsp;! Ainsi, une variable <var>--span</var> est ajoutée sur <code>&lt;table&gt;</code>,
    et doit correspondre à la valeur des attributs <code>colspan</code> cités plus tôt&nbsp;:
    elle sert donc à étendre les entêtes de premier niveau sur le nombre de colonnes adéquat.
   </li>
   <li>
    les <strong>couleurs et motifs</strong> ne sont plus appliqués en fonction
    de chaque valeur, mais en fonction de chaque colonne —&nbsp;dans l’exemple, un élément
    sur <var>deux</var> (puisque nous avons <var>deux</var> entrées par colonne).
    Là aussi, si nous pouvions utiliser une valeur d’attribut ou une propriété personnalisée
    <strong>dans un sélecteur</strong>, ce serait génial. Imaginez un peu
    <code>tbody td:nth-of-type(var(--span)n + var(--span))</code> ou encore
    <code>tbody td:nth-of-type(attr(colspan)n + attr(colspan))</code>&nbsp;!
   </li>
  </ul>
 </li>
</ol>

<div class="table-container column-container" role="group" aria-labelledby="caption-8">
 <div class="fieldset d-flex sm-hidden">
  <p class="label no-margin">
   <strong id="label-8">Interrupteur</strong><br>
   <span id="description-8">Permet de désactiver les styles sur le tableau suivant.</span>
  </p>
  <button type="button" class="ml-auto fw-400 no-border p-relative disable-css"
      role="switch" aria-checked="true"
      aria-labelledby="label-8" aria-describedby="description-8">
   <span>Guilleret</span>
   <span>Sobre</span>
  </button>
 </div>

 <table class="chaarts column-multiple" id="column-multiple" style="--y: 11; --span: 2;">
  <caption id="caption-8">Parts de marché navigateurs en France en janvier 2019</caption>
  <thead>
   <tr>
    <th scope="row" id="navigateur">Navigateur</th>
    <th scope="col" colspan="2" id="chrome">Chrome</th>
    <th scope="col" colspan="2" id="firefox">Firefox</th>
    <th scope="col" colspan="2" id="safari">Safari</th>
    <th scope="col" colspan="2" id="edge">Edge</th>
    <th scope="col" colspan="2" id="ie">IE</th>
   </tr>
   <tr>
    <th scope="row" id="annee">Année</th>
    <th scope="col" id="chrome-2018">2018</th>
    <th scope="col" id="chrome-2019">2019</th>
    <th scope="col" id="firefox-2018">2018</th>
    <th scope="col" id="firefox-2019">2019</th>
    <th scope="col" id="safari-2018">2018</th>
    <th scope="col" id="safari-2019">2019</th>
    <th scope="col" id="edge-2018">2018</th>
    <th scope="col" id="edge-2019">2019</th>
    <th scope="col" id="ie-2018">2018</th>
    <th scope="col" id="ie-2019">2019</th>
   </tr>
  </thead>
  <tbody>
   <tr>
    <th scope="row" id="parts">Parts de marché</th>
    <td style="--value: 50;" headers="navigateur chrome annee chrome-2018"><span>49.6&nbsp;%</span></td>
    <td style="--value: 57;" headers="navigateur chrome annee chrome-2019"><span>57&nbsp;%</span></td>
    <td style="--value: 12;" headers="navigateur firefox annee firefox-2018"><span>11.74&nbsp;%</span></td>
    <td style="--value: 10;" headers="navigateur firefox annee firefox-2019"><span>9.59&nbsp;%</span></td>
    <td style="--value: 22;" headers="navigateur safari annee safari-2018"><span>21.53&nbsp;%</span></td>
    <td style="--value: 19;" headers="navigateur safari annee safari-2019"><span>18.78&nbsp;%</span></td>
    <td style="--value: 4;" headers="navigateur edge annee edge-2018"><span>3.72&nbsp;%</span></td>
    <td style="--value: 3;" headers="navigateur edge annee edge-2019"><span>3.5&nbsp;%</span></td>
    <td style="--value: 4;" headers="navigateur ie annee ie-2018"><span>4.46&nbsp;%</span></td>
    <td style="--value: 3;" headers="navigateur ie annee ie-2019"><span>3.66&nbsp;%</span></td>
   </tr>
  </tbody>
 </table>
</div>

<details>
 <summary>Le <abbr lang="en" title="HyperText Markup Language" aria-label="HyperText Markup Language">HTML</abbr></summary>
 <div>{% include 'includes/_columns-markup.html' %}</div>
</details>
<details>
 <summary>Le <abbr lang="en" title="Cascading StyleSheet" aria-label="Cascading StyleSheet">css</abbr></summary>
 <div>{% include 'includes/_columns-styles.html' %}</div>
</details>

<details>
 <summary>Bug dans Chromium</summary>
 <p>
    Il y a en ce moment un bug dans Chromium —&nbsp;j’ai saisi
    <a href="https://bugs.chromium.org/p/chromium/issues/detail?id=938927" hreflang="en"
    target="_blank" rel="noopener noreferrer">un ticket sur bugs.chromium.org</a>&nbsp;—
    lors de <strong>l’utilisation d’une valeur décimale pour le placement sur la grille</strong>.
    Je ne sais pas si c’est une implication de la décimale, du calcul, de la propriété personnalisée…
    mais pour le moment, ça ne fonctionne pas&nbsp;!
  </p>
  <h3>Exemple</h3>
  <div class="table-container column-container" role="group" aria-labelledby="caption-9">
   <div class="fieldset d-flex sm-hidden">
    <p class="label no-margin">
     <strong id="label-9">Interrupteur</strong><br>
     <span id="description-9">Permet de désactiver les styles sur le tableau suivant.</span>
    </p>
    <button type="button" class="ml-auto fw-400 no-border p-relative disable-css"
        role="switch" aria-checked="true"
        aria-labelledby="label-9" aria-describedby="description-9">
     <span>Guilleret</span>
     <span>Sobre</span>
    </button>
   </div>

   <table class="chaarts column-multiple" id="column-multiple" style="--y: 11; --span: 2;">
    <caption id="caption-9">Parts de marché navigateurs en France en janvier 2019</caption>
    <thead>
     <tr>
      <th scope="row" id="navigateur-2">Navigateur</th>
      <th scope="col" colspan="2" id="chrome-2">Chrome</th>
      <th scope="col" colspan="2" id="firefox-2">Firefox</th>
      <th scope="col" colspan="2" id="safari-2">Safari</th>
      <th scope="col" colspan="2" id="edge-2">Edge</th>
      <th scope="col" colspan="2" id="ie-2">IE</th>
     </tr>
     <tr>
      <th scope="row" id="annee-2">Année</th>
      <th scope="col" id="chrome-2018-2">2018</th>
      <th scope="col" id="chrome-2019-2">2019</th>
      <th scope="col" id="firefox-2018-2">2018</th>
      <th scope="col" id="firefox-2019-2">2019</th>
      <th scope="col" id="safari-2018-2">2018</th>
      <th scope="col" id="safari-2019-2">2019</th>
      <th scope="col" id="edge-2018-2">2018</th>
      <th scope="col" id="edge-2019-2">2019</th>
      <th scope="col" id="ie-2018-2">2018</th>
      <th scope="col" id="ie-2019-2">2019</th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <th scope="row" id="parts-2">Parts de marché</th>
      <td style="--value: 49.6;" headers="navigateur-2 chrome-2 annee-2 chrome-2018-2"><span>49.6%</span></td>
      <td style="--value: 57;" headers="navigateur-2 chrome-2 annee-2 chrome-2019-2"><span>57%</span></td>
      <td style="--value: 11.74;" headers="navigateur-2 firefox-2 annee-2 firefox-2018-2"><span>11.74%</span></td>
      <td style="--value: 9.59;" headers="navigateur-2 firefox-2 annee-2 firefox-2019-2"><span>9.59%</span></td>
      <td style="--value: 21.53;" headers="navigateur-2 safari-2 annee-2 safari-2018-2"><span>21.53%</span></td>
      <td style="--value: 18.78;" headers="navigateur-2 safari-2 annee-2 safari-2019-2"><span>18.78%</span></td>
      <td style="--value: 3.72;" headers="navigateur-2 edge-2 annee-2 edge-2018-2"><span>3.72%</span></td>
      <td style="--value: 3.5;" headers="navigateur-2 edge-2 annee-2 edge-2019-2"><span>3.5%</span></td>
      <td style="--value: 4.46;" headers="navigateur-2 ie-2 annee-2 ie-2018-2"><span>4.46%</span></td>
      <td style="--value: 3.66;" headers="navigateur-2 ie-2 annee-2 ie-2019-2"><span>3.66%</span></td>
     </tr>
    </tbody>
   </table>
</details>
{% endblock %}
