<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}" class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block base %}
        <base href="/">
        {% endblock %}
        {% block meta %}
          <title>chaarts</title>
          <meta property="og:url" content="https://ffoodd.github.io/chaarts/">
          <meta property="og:title" content="chaarts">
          <meta property="og:type" content="article">
          <meta property="og:description"
                name="description" content="Charts with HTML & CSS">
          <meta name="twitter:card" content="summary">
          <link rel="alternate" hreflang="fr" href="https://ffoodd.github.io/chaarts/fr/index.html"/>
        {% endblock %}
        <script>
          document.documentElement.classList.remove('no-js');
          document.documentElement.classList.add('js');
        </script>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/styles.min.css" media="all">
        <link rel="stylesheet" href="css/print.min.css" media="print">
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
      <header role="banner">
        {% block skiplinks %}
          <div>
            <a href="#nav" class="sr-only sr-only-focusable">Aller à la navigation</a>
            <a href="#main" class="sr-only sr-only-focusable">Aller au contenu</a>
          </div>
        {% endblock %}

        <nav role="navigation" id="nav" aria-label="{% block label %}Navigation principale{% endblock %}">
          {% block navigation %}
            <ul class="fly-out">
              <li><a aria-current="page">Accueil</a></li>
              <li><a href="./bar-charts.html">Graphique en barre</a></li>
              <li><a href="./line-charts.html">Graphique linéaire</a></li>
              <li><a href="./column-charts.html">Histogramme</a></li>
              <li><a href="./pie-charts.html">Graphique en tarte</a></li>
              <li><a href="./radar-charts.html">Graphique radar</a></li>
            </ul>
          {% endblock %}
        </nav>
      </header>

      <main role="main" id="main" tabindex="-1" itemprop="mainContentOfPage">
        {% block main %}
          <h1>Graphiques</h1>

          <p>
           Les différentes versions de graphiques présentées pour le moment reposent uniquement
           sur un balisage sémantique —&nbsp;à base de <code>&lt;table&gt;</code>&nbsp;—
           et une tartine de <strong>variables CSS portées par les balises</strong>.
           Aucun JavaScript n’est requis pour l’affichage, et les styles sont
           <strong>améliorés progressivement</strong> selon les capacités de votre navigateur.
          </p>

          <p>
           <strong>Note</strong>&nbsp;: en vertu du caractère <strong>expérimental</strong>
           de ces techniques et d’une <strong>fondation solide</strong> améliorée progressivement,
           je ne précise pas le <strong>support navigateur</strong> de chaque exemple —&nbsp;mais
           il va de soi que ce n’est pas magique, et que seuls les navigateurs modernes répondent à l’appel,
           <a hreflang="en" href="https://caniuse.com/#search=clip-path">à l’exception notable de Edge
           qui ne supporte pas (encore) <code>clip-path</code></a>.
           Les autres navigateurs affichent un tableau correctement stylé, et c’est chouette.
          </p>

          <h2 id="accessibilite">L’accessibilité</h2>

          <p>
           Un effort conséquent a été porté à l’accessibilité.
           Comme évoqué précédement, <strong>un balisage sémantique et structuré est un pré-requis</strong>
           —&nbsp;mais ça ne suffit pas. Les <abbr lang="en" title="Cascading StyleSheet" aria-label="Cascading StyleSheet">CSS</abbr>
           sont appliqués aussi progressivement que possible, afin de garantir le meilleur affichage
           possible des données pour chaque internaute.
          </p>

          <h3>Tableau accessible</h3>

          <p>Piqure de rappel&nbsp;:</p>

          <ul>
           <li>un tableau doit démarrer par un <code>&lt;caption&gt;</code>&nbsp;;</li>
           <li>
            les cellules d’en-tête <code>&lt;th&gt;</code> doivent porter un attribut <code>scope</code>,
            avec une valeur <var>row</var> ou <var>col</var> selon le cas&nbsp;;
           </li>
           <li>
            et vous aurez généralement besoin de distinguer l’entête du corps grâce à
            <code>&lt;thead&gt;</code> et <code>&lt;tbody&gt;</code>&nbsp;;
           </li>
           <li>
            pour les valeurs disposant d’une unité&nbsp;: si vous vous aventurez à utiliser l’élement
            <code>&lt;abbr&gt;</code> pour utiliser sa version abrégée, pensez à doubler l’attribut
            <code>title</code> avec l’attribut <code>aria-label</code> —&nbsp;cela en améliorera
            considérablement l’intérêt pour de nombreux internautes.
           </li>
          </ul>

          <p>
           Pour d’autres astuces utiles, je vous recommande chaleureusement la lecture
           du <a hreflang="en" href="https://inclusive-components.design/data-tables/">
           composant inclusif <em lang="en">Data Tables</em> de <cite>Heydon Pickering</cite></a>,
           qui est une véritable mine d’or.
          </p>

          <h3>Motifs</h3>
          <p>
           Pour <strong>distinguer les différentes zones autrement que par la couleur</strong>, un motif
           <abbr lang="en" title="Scalable Vector Graphics" aria-label="Scalable Vector Graphics">svg</abbr>
           est appliqué en
           <abbr lang="en" title="Cascading StyleSheet" aria-label="Cascading StyleSheet">css</abbr>
           —&nbsp;vous en trouverez quelques-uns sur le site
           <a hreflang="en" lang="en" href="https://www.heropatterns.com/">Hero Patterns</a>&nbsp;:
          </p>
          <ol>
           <li>
            afin d’améliorer <strong>le mélange avec les couleurs ou dégradés d’arrière-plan</strong>, la propriété
            <code>background-blend-mode</code> est utilisée avec la valeur <code>hard-light</code>&nbsp;;
           </li>
           <li>
            les <strong>tailles et positions du motif</strong> dépendent directement de la valeur et de l’échelle du graphique,
            selon le type de graphique&nbsp;;
           </li>
           <li>
            pour ne pas embarquer trop de fichiers externes, on utilise
            <a hreflang="en" href="https://www.trysmudford.com/blog/using-css-custom-properties/">une technique
            proposée par <cite>Trys Mudford</cite> pour inclure nos
            <abbr lang="en" title="Scalable Vector Graphics" aria-label="Scalable Vector Graphics">svg</abbr>
            en <i lang="en">data URi</i> dans une variable
            <abbr lang="en" title="Cascading StyleSheet" aria-label="Cascading StyleSheet">css</abbr> chacun</a>&nbsp;;
            ainsi, une liste finie de motifs est utilisée dans le thème, sans jamais répéter le <abbr lang="en" title="Scalable Vector Graphics" aria-label="Scalable Vector Graphics">svg</abbr>.
           </li>
          </ol>

          <div class="note">
           <h4>Qu’encoder&nbsp;?</h4>
           <p>
            <a hreflang="en" href="https://codepen.io/tigt/post/optimizing-svgs-in-data-uris"><cite>Taylor Hunt</cite>
            a rédigé un article complet sur l’optimisation des
            <abbr lang="en" title="Scalable Vector Graphics" aria-label="Scalable Vector Graphics">svg</abbr>
            passés en <i lang="en">data URi</i></a>. En résumé, seuls les chevrons et le
            caracère «&nbsp;#&nbsp;» ont besoin d’être encodés dans le
            <abbr lang="en" title="Cascading StyleSheet" aria-label="Cascading StyleSheet">css</abbr>.
            Ne vous fatiguez pas avec les autres caractères, leur encodage nuit sérieusement à la lisibilité.
           </p>
          </div>

          <pre>
<code class="language-css">
.chaarts {
 --stripes: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff99' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.chaarts tr:nth-child(2n + 2) {
 --background: var(--stripes);
}

.chaarts td {
 --size: calc( var(--scale, 100) * 100% );
 --position: calc( var(--value, 0) / var(--scale, 100) * 100% );
 background:
   linear-gradient( right, Window, ButtonFace, ButtonText, highlight ) var(--position) 0% / var(--size) 100%,
   var(--background) center / contain;
 background-blend-mode: hard-light;
}</code>
          </pre>

          <h3>Respect des préférences</h3>
          <p>
           Afin de respecter autant que possible les préférences des visiteurs,
           de nombreux éléments ont été adaptés&nbsp;:
          </p>
          <ol>
           <li>
            les dimensions sont en unités relatives (<code>em</code> ou <code>rem</code> selon les cas),
            afin de s’ajuster de manière cohérente au corps de texte hérité du navigateur et de pouvoir
            être agrandi ou réduit sans perte&nbsp;;
           </li>
           <li>
            les couleurs sont adaptées lorsque le <strong>mode de contrastes élevés</strong> de Windows est détecté à l’aide de
            <code>-ms-high-contrast: active</code>, inspiré par
            <a hreflang="en" href="https://www.gwhitworth.com/blog/2017/04/how-to-use-ms-high-contrast">
            l’article de <cite>Greg Whitworth</cite></a> sur le sujet. Je vous conseille d’ailleurs
            <a hreflang="en" href="http://www.iangraham.org/books/xhtml1/appd/update-23feb2000.html">
            l’increvable page <q lang="en">Test of System Colors Specified in CSS 2</q> rédigée
            par <cite>Ian Graham</cite></a>, éditée en… 2000&nbsp;!
           </li>
           <li>
            les <strong>animations et transitions sont désactivées</strong> lorsque le système
            expose cette préférence grâce à <code>prefers-reduced-motion: reduce</code>&nbsp;;
           </li>
           <li>
            les <strong>effets de survol</strong> dont l’état initial consiste à masquer du contenu
            sont activés contextuellement dans la requête média <code>@media (hover: hover) { … }</code>.
           </li>
          </ol>

          <h3><code>display</code> et sémantique</h3>
          <p>
           <cite>Adrian Roselli</cite> explique que jouer avec le <code>display</code> d’un élément
           <code>&lt;table&gt;</code> ou <code>&lt;dl&gt;</code> met en péril sa sémantique.
           Cette dernière est donc «&nbsp;verrouillée&nbsp;» à l’aide des rôles
           <abbr lang="en" title="Accessible Rich Internet Application" aria-label="Accessible Rich Internet Application">aria</abbr>
           dédiés —&nbsp;comme il l’explique
           <a href="http://adrianroselli.com/2018/02/tables-css-display-properties-and-aria.html" hreflang="en">dans un article détaillé</a>.
          </p>
          <p>
           C’est pourquoi chaque tableau est précédé d’un interrupteur —&nbsp;basé sur
           <a hreflang="en" href="https://inclusive-components.design/toggle-button/">le composant inclusif
           conçu par <cite>Heydon Pickering</cite></a>&nbsp;—
           dont le seul et unique rôle est de désactiver les styles supplémentaires&nbsp;:
          </p>
          <pre>
           <code class="language-javascript">
document.addEventListener( "DOMContentLoaded", function () {
 var switches = document.querySelectorAll( '[role="switch"]' );

 Array.prototype.forEach.call( switches, function( el, i ) {
   el.addEventListener( 'click', function() {
     var checked = this.getAttribute( 'aria-checked' ) == 'true' || false;
     this.setAttribute( 'aria-checked', !checked );

     var chart = this.parentNode.nextElementSibling;
     chart.classList.toggle( 'table-charts' );
   } );
 } );
} );</code>
          </pre>

          <p>
           Voilà, nous sommes prêts à entrer dans le vif du sujet.<br>
           <strong>Faites chauffer votre inspecteur&nbsp;!</strong>
          </p>
        {% endblock %}
      </main>

      {% block scripts %}
        <script src="js/script.min.js"></script>
        <script src="js/prism.min.js"></script>
      {% endblock %}

      {% block modal %}
      {% endblock %}
    </body>
</html>
