<pre class="scrollable-container"><code class="language-markup">&lt;table class="chaarts bar" style="--scale: 3000"&gt;
  &lt;caption id="caption-1"&gt;[…]&lt;/caption&gt;
  &lt;thead class="sr-only"&gt;
    &lt;tr&gt;
      &lt;td&gt;&lt;/td&gt;
      &lt;th scope="col"&gt;[…]&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;th scope="row"&gt;[…]&lt;/th&gt;
      &lt;td style="--value: 4"&gt;
        &lt;span&gt;[…]&lt;/span&gt;
      &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;[…]&lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
