<pre class="scrollable-container"><code class="language-markup">&lt;table class="chaarts column-multiple" id="column-multiple" style="--y: 11; --span: 2;"&gt;
  &lt;caption id="caption-8"&gt;[…]&lt;/caption&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th scope="row" id="browser"&gt;[…]&lt;/th&gt;
      &lt;th scope="col" colspan="2" id="chrome"&gt;Chrome&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;th scope="row" id="year"&gt;[…]&lt;/th&gt;
      &lt;th scope="col" id="chrome-2018"&gt;2018&lt;/th&gt;
      &lt;th scope="col" id="chrome-2019"&gt;2019&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;th scope="row" id="parts"&gt;[…]&lt;/th&gt;
      &lt;td style="--value: 50;" headers="browser chrome year chrome-2018"&gt;&lt;span&gt;49.6%&lt;/span&gt;&lt;/td&gt;
      &lt;td style="--value: 57;" headers="browser chrome year chrome-2019"&gt;&lt;span&gt;57%&lt;/span&gt;&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
