<pre class="scrollable-container"><code class="language-markup">&lt;table class="chaarts column" id="column" style="--y: 7;"&gt;
  &lt;caption id="caption-7"&gt;[…]&lt;/caption&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th scope="row"&gt;[…]&lt;/th&gt;
      &lt;th scope="col" style="--value: 62;"&gt;Chrome&lt;/th&gt;
      &lt;th scope="col" style="--value: 15;"&gt;Firefox&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;th scope="row"&gt;[…]&lt;/th&gt;
      &lt;td style="--value: 62;"&gt;&lt;span&gt;62%&lt;/span&gt;&lt;/td&gt;
      &lt;td style="--value: 15;"&gt;&lt;span&gt;15%&lt;/span&gt;&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
