<pre class="scrollable-container"><code class="language-markup">&lt;table class="chaarts line" style="--y: 32; --x: 13; --t-1: 'Jan.'; --t-2: 'Feb.'; […]"&gt;
  &lt;caption id="caption-3"&gt;[…]&lt;/caption&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th scope="col"&gt;[…]&lt;/th&gt;
      &lt;th scope="col"&gt;Jan.&lt;/th&gt;
      &lt;th scope="col"&gt;[…]&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr style="--year: '2017'; --1: 8; --2: 6; --3: 9; --4: 12; --5: 15; --6: 21; --7: 24; --8: 25; --9: 22; --10: 19; --11: 14; --12: 9;"&gt;
      &lt;th scope="row"&gt;2017&lt;/th&gt;
      &lt;td&gt;8&nbsp;°C&lt;/td&gt;
      &lt;td&gt;[…]&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
