<pre data-line="10"><code class="language-css">td[style*="--value: 64;"]::before {
  clip-path: polygon(
    50% 50%,
    50% 0%,
    100% 0%,
    100% 50%,
    100% 100%,
    100% 100%,
    0% 100%,
    11.474338% 81.8711995%,
    50% 50%,
    50% 50%,
    50% 50%
  );
}</code></pre>
