<pre><code class="language-markup">&lt;table class="chaarts pie"&gt;
  &lt;caption id="caption-5"&gt;[…]&lt;/caption&gt;
  &lt;thead class="sr-only"&gt;
    &lt;tr&gt;
      &lt;th scope="col"&gt;[…]&lt;/th&gt;
      &lt;th scope="col"&gt;[…]&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr style="--color: var(--chaarts-purple); --term: 'HTML';"&gt;
      &lt;th scope="row"&gt;HTML&lt;/th&gt;
      &lt;td style="--value: 2; --start: 0;"&gt;2&nbsp;%&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;[…]&lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
