<pre class="scrollable-container"><code class="language-markup">&lt;table class="chaarts radar" id="radar" style="--scale: 20; --step: 5; --items: 7; --1: 14; --2: 11; --3: 13; --4: 16; --5: 10; --6: 12; --7: 4; --8: var(--1);"&gt;
	&lt;caption id="caption-9"&gt;[…]&lt;/caption&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th scope="col"&gt;[…]&lt;/th&gt;
			&lt;th scope="col"&gt;[…]&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
		&lt;tr&gt;
			&lt;td&gt;&lt;span&gt;14&lt;/span&gt;&lt;/td&gt;
			&lt;td&gt;&lt;span&gt;11&lt;/span&gt;&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;</code></pre>
