<pre><code class="language-markup">&lt;table class="chaarts radar-multiple" id="radar-multiple" style="--scale: 20; --step: 5; --items: 7; --areas: 2;"&gt;
  &lt;caption id="caption-9"&gt;[…]&lt;/caption&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th scope="col"&gt;[…]&lt;/th&gt;
      &lt;th scope="col"&gt;[…]&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr style="--color: #734bf9; --1: 14; --2: 11; --3: 13; --4: 16; --5: 14; --6: 10; --7: 4; --8: var(--1);"&gt;
      &lt;th scope="row"&gt;Gaël&lt;/th&gt;
      &lt;td&gt;&lt;span&gt;14&lt;/span&gt;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style="-color: #e11a81; --1: 18; --2: 10; --3: 11; --4: 16; --5: 10; --6: 12; --7: 11; --8: var(--1);"&gt;
      &lt;th scope="row"&gt;Luc&lt;/th&gt;
      &lt;td&gt;&lt;span&gt;18&lt;/span&gt;&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
