<pre class="scrollable-container"><code class="language-css">.chaarts {
  --stripes: url("data:image/svg+xml,&lt;svg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'&gt;&lt;g fill='%23fff9' fill-rule='evenodd'&gt;&lt;path d='M5 0h1L0 6V5zM6 5v1H5z'/&gt;&lt;/g&gt;&lt;/svg&gt;");
}

.chaarts tr:nth-child(2n + 2) {
  --background: var(--stripes);
}

.chaarts td {
  --size: calc( var(--scale, 100) * 100% );
  --position: calc( var(--value, 0) / var(--scale, 100) * 100% );
  background:
    linear-gradient( right, Window, ButtonFace, ButtonText, Highlight ) var(--position) 0% / var(--size) 100%,
    var(--background) center / contain;
  background-blend-mode: hard-light;
}</code></pre>
