<pre><code class="language-markup">&lt;table class="chaarts bar waterfall"
 style="--scale: 3000; --1: 4; --2: 96; --3: 102; --4: 129; --5: 188; --6: 194; --7: 326; --8: 836; --9: 836; --10: 2561; --11: 2980;"&gt;
&lt;/table&gt;</code></pre>
