{% macro pie(term='', definition='', unit='', title='', start='0', color='') %}
<tr style="--color: {{ color }};--term: '{{ term }}';">
  <th scope="row">{{ term }}</th>
  {% if definition < 25 %}
    {% set style = "" %}
  {% elif definition < 50 %}
    {% set style = "--lt-25: 0; --gt-25: 1; --lt-50: 1; --gt-50: 0;" %}
  {% elif definition < 75 %}
    {% set style = "--lt-25: 0; --gt-25: 1; --lt-50: 0; --gt-50: 1; --lt-75: 1; --gt-75: 0;" %}
  {% else %}
    {% set style = "--lt-25: 0; --gt-25: 1; --lt-50: 0; --gt-50: 1; --lt-75: 0; --gt-75: 1; --lt-100: 1;" %}
  {% endif %}
  <td style="--value: {{ definition }}; --start: {{ start }}; {{ style }}">
    {{ definition }}{% if unit != '' %}&nbsp;{% if title != '' %}<abbr title="{{ title | e }}" aria-label="{{ title | e }}">{% endif %}{{ unit }}{% if title != '' %}</abbr>{% endif %}{% endif %}
  </td>
{% endmacro %}
