{% extends "accueil.njk" %}

{% block meta %}
	<title>Graphiques en barre — chaarts</title>
	<meta property="og:url" content="https://ffoodd.github.io/chaarts/fr/barres.html">
	<meta property="og:title" content="Graphiques en barre — chaarts">
	<meta property="og:type" content="article">
	<meta property="og:description" name="description" content="Graphiques de données avec HTML & CSS">
	<meta name="twitter:card" content="summary">
	<link rel="alternate" hreflang="en" href="https://ffoodd.github.io/chaarts/bar-charts.html">
{% endblock %}

{% block navigation %}
	<ul class="fly-out">
		<li><a href="./accueil.html">Accueil</a></li>
		<li><a aria-current="page">Barre</a></li>
		<li><a href="./courbe.html">Courbe</a></li>
		<li><a href="./histogramme.html">Histogramme</a></li>
		<li><a href="./camembert.html">Camembert</a></li>
		<li><a href="./radar.html">Radar</a></li>
		<li class="ml-auto">
			<a rel="alternate" hreflang="en" lang="en" href="./bar-charts.html"
				 aria-label="English version" title="English version">EN</a>
		</li>
		<li>
			<a href="https://github.com/ffoodd/chaarts/" class="d-flex" hreflang="en">
				<svg viewBox="0 0 16 16" height="16" width="16" aria-hidden="true">
					<path fill-rule="evenodd"
								d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
				</svg>
				&nbsp;GitHub
			</a>
		</li>
	</ul>
{% endblock %}

{% block main %}
	<h1>Graphique en barre</h1>

	<p>
		Ce type de graphique sert à représenter <strong>des données à une dimension</strong>
		(dans notre exemple, une ligne de temps).
		Il repose sur les <strong>grilles et les variables CSS</strong>,
		technique inspirée
		d’<a hreflang="en" href="https://css-tricks.com/css-charts-grid-custom-properties/">un article de <cite>Miriam
				Suzanne</cite> sur
			<abbr lang="en" title="Cascading StyleSheet" aria-label="Cascading StyleSheet">CSS</abbr> Tricks</a>
		légèrement agrémentée pour en améliorer l’accessibilité.
		Pour vous en servir, c’est simple&nbsp;:
	</p>

	<ol>
		<li>
			Sur le <strong>tableau</strong>, une variable <var>--scale</var> permet de définir la valeur maximale du
			graphique,
			afin d’en déterminer l’échelle. Concrètement, une grille va être générée avec&nbsp;:
			<ul>
				<li>la première colonne pour les entêtes <code>&lt;th&gt;</code> arbitrairement fixée à <code>12.5em</code>&nbsp;;
				</li>
				<li>puis la fonction CSS <code>repeat()</code> crée une colonne par unité de l’échelle —&nbsp;dans l’exemple,
					3000 colonnes&nbsp;;
				</li>
				<li>
					enfin une dernière colonne mesurant <code>10ch</code>, soit l’espace suffisant pour dix lettres —&nbsp;jetez
					un œil
					<a hreflang="en" href="https://every-layout.dev/rudiments/units/#the-ch-and-ex-units">rudiments
						concernant les unités CSS, documentés dans <em lang="en">Every Layout</em> par <cite>Andy Bell</cite> et
						<cite>Heydon Pickering</cite></a>.
				</li>
			</ul>
		</li>
		<li>
			<strong>Sur chaque cellule</strong> <code>&lt;td&gt;</code>, une variable <var>--value</var> permet de la placer
			sur la grille,
			appliquée à <code>grid-column-end</code>.
			De plus grâce à de savants calculs reposant sur cette valeur, le dégradé en arrière-plan est dimensionné et
			positionné de façon à
			refléter la proportion représentée par cette valeur sur l’échelle donnée (du vert pour presque rien au rouge pour
			presque tout).
		</li>
		<li>
			<strong>Dans chaque cellule</strong>, le contenu doit reprendre la valeur et son unité dans un élément <code>&lt;span&gt;</code>,
			éventuellement
			balisée avec <code>&lt;abbr&gt;</code> (et <code>aria-label</code> pour suppléer <code>title</code>) si un
			intitulé peut être explicité pour l’unité.
			Cette valeur est poussée à droite de la grille, et son texte sert de masque pour le dégradé en arrière-plan
			—&nbsp;grâce à <a hreflang="en" href="https://twitter.com/shshaw/status/1140637533539377153">une astuce de S.
				Shaw's pour
				appliquer <code>background-clip: text</code> en amélioration progressive</a> —&nbsp;lui permettant d’être de la
			couleur correspondante
			à la fin du dégradé pour la position donnée.
		</li>
	</ol>

	{% import 'macros/_table-bar.njk' as table %}
	<div class="table-container bar-container" role="group" aria-labelledby="caption-1">
		<div class="fieldset d-flex sm-hidden">
			<p class="label no-margin">
				<strong id="label-1">Interrupteur</strong><br>
				<span id="description-1">Permet de désactiver les styles sur le tableau suivant.</span>
			</p>
			<button type="button" class="ml-auto fw-400 no-border p-relative disable-css"
							role="switch" aria-checked="true"
							aria-labelledby="label-1" aria-describedby="description-1">
				<span>Guilleret</span>
				<span>Sobre</span>
			</button>
		</div>

		<table class="chaarts bar" style="--scale: 3000" id="bar">
			<caption id="caption-1">Temps de chargement pour <a href="https://www.ffoodd.fr" target="_blank"
																													rel="noopener noreferrer">ffoodd.fr</a></caption>
			<thead class="sr-only">
			<tr>
				<td></td>
				<th scope="col">Temps de chargement cumulé</th>
			</tr>
			</thead>
			<tbody>
			{{ table.bar('Temps : backend', '4', 'ms', 'Milliseconde', 'table') }}
			{{ table.bar('Temps : Frontend', '96', 'ms', 'Milliseconde', 'table') }}
			{{ table.bar('Délai : premier octet', '102', 'ms', 'Milliseconde', 'table') }}
			{{ table.bar('Délai : dernier octet', '129', 'ms', 'Milliseconde', 'table') }}
			{{ table.bar('Délai : première image', '188', 'ms', 'Milliseconde', 'table') }}
			{{ table.bar('Délai : premier CSS', '194', 'ms', 'Milliseconde', 'table') }}
			{{ table.bar('Délai : premier JS', '326', 'ms', 'Milliseconde', 'table') }}
			{{ table.bar('DOM Interactif', '836', 'ms', 'Milliseconde', 'table') }}
			{{ table.bar('Chargement du DOM', '836', 'ms', 'Milliseconde', 'table') }}
			{{ table.bar('DOM complet', '2561', 'ms', 'Milliseconde', 'table') }}
			{{ table.bar('Trafic HTTP terminé', '2980', 'ms', 'Milliseconde', 'table') }}
			</tbody>
		</table>
	</div>

	<details>
		<summary>Le <abbr lang="en" title="HyperText Markup Language" aria-label="HyperText Markup Language">HTML</abbr>
		</summary>
		<div>{% include 'includes/_bar-markup.njk' %}</div>
	</details>
	<details>
		<summary>Le <abbr lang="en" title="Cascading StyleSheet" aria-label="Cascading StyleSheet">css</abbr></summary>
		<div>{% include 'includes/_bar-styles.njk' %}</div>
	</details>

	<h2>Graphique en chute d’eau</h2>

	<p>
		Le principe est le même pour cette variante, à un détail près&nbsp;:
		on gère également <strong>le point de départ</strong> pour chaque mesure
		—&nbsp;qui est, très simplement, la valeur du point précédent…
		Il faut cependant passer toutes les valeurs en tant que variables sur
		le parent <code>&lt;table&gt;</code>.
	</p>

	<div class="table-container bar-container" role="group" aria-labelledby="caption-2">
		<div class="fieldset d-flex sm-hidden">
			<p class="label no-margin">
				<strong id="label-2">Interrupteur</strong><br>
				<span id="description-2">Permet de désactiver les styles sur le tableau suivant.</span>
			</p>
			<button type="button" class="ml-auto fw-400 no-border p-relative disable-css"
							role="switch" aria-checked="true"
							aria-labelledby="label-2" aria-describedby="description-2">
				<span>Guilleret</span>
				<span>Sobre</span>
			</button>
		</div>

		<table class="chaarts bar waterfall" id="waterfall"
					 style="--scale: 3000; --1: 4; --2: 96; --3: 102; --4: 129; --5: 188; --6: 194; --7: 326; --8: 836; --9: 836; --10: 2561; --11: 2980;">
			<caption id="caption-2">Temps de chargement pour <a href="https://www.ffoodd.fr" target="_blank"
																													rel="noopener noreferrer">ffoodd.fr</a></caption>
			<thead class="sr-only">
			<tr>
				<td></td>
				<th scope="col">Temps de chargement cumulé</th>
			</tr>
			</thead>
			<tbody>
			{{ table.bar('Temps : backend', '4', 'ms', 'Milliseconde', 'waterfall') }}
			{{ table.bar('Temps : Frontend', '96', 'ms', 'Milliseconde', 'waterfall') }}
			{{ table.bar('Délai : premier octet', '102', 'ms', 'Milliseconde', 'waterfall') }}
			{{ table.bar('Délai : dernier octet', '129', 'ms', 'Milliseconde', 'waterfall') }}
			{{ table.bar('Délai : première image', '188', 'ms', 'Milliseconde', 'waterfall') }}
			{{ table.bar('Délai : premier CSS', '194', 'ms', 'Milliseconde', 'waterfall') }}
			{{ table.bar('Délai : premier JS', '326', 'ms', 'Milliseconde', 'waterfall') }}
			{{ table.bar('DOM Interactif', '836', 'ms', 'Milliseconde', 'waterfall') }}
			{{ table.bar('Chargement du DOM', '836', 'ms', 'Milliseconde', 'waterfall') }}
			{{ table.bar('DOM complet', '2561', 'ms', 'Milliseconde', 'waterfall') }}
			{{ table.bar('Trafic HTTP terminé', '2980', 'ms', 'Milliseconde', 'waterfall') }}
			</tbody>
		</table>
	</div>

	<details>
		<summary>Le <abbr lang="en" title="HyperText Markup Language" aria-label="HyperText Markup Language">HTML</abbr>
		</summary>
		<div>{% include 'includes/_waterfall-markup.njk' %}</div>
	</details>
	<details>
		<summary>Le <abbr lang="en" title="Cascading StyleSheet" aria-label="Cascading StyleSheet">css</abbr></summary>
		<div>{% include 'includes/_waterfall-styles.njk' %}</div>
	</details>
{% endblock %}
