<pre><code class="language-markup">&lt;table class="chaarts column" id="column" style="--y: 7;">
  &lt;caption id="caption-7">[…]&lt;/caption>
  &lt;thead>
    &lt;tr>
      &lt;th scope="row">[…]&lt;/th>
      &lt;th scope="col" style="--value: 62;">Chrome&lt;/th>
      &lt;th scope="col" style="--value: 15;">Firefox&lt;/th>
    &lt;/tr>
  &lt;/thead>
  &lt;tbody>
    &lt;tr>
      &lt;th scope="row">[…]&lt;/th>
      &lt;td style="--value: 62;">&lt;span>62%&lt;/span>&lt;/td>
      &lt;td style="--value: 15;">&lt;span>15%&lt;/span>&lt;/td>
    &lt;/tr>
  &lt;/tbody>
&lt;/table&gt;</code></pre>
