<pre><code class="language-css">@supports (display: contents) {
  .chaarts[class*="column"] {
    --gap: .5rem;
    --size: calc(var(--scale, 100) * 100%);
    --width: calc(64em / var(--y) - 1rem);
    display: grid;
    grid-column-gap: var(--gap);
    max-height: 64em;
    position: relative;
  }

  .chaarts[class*="column"] td,
  .chaarts[class*="column"] th {
    margin: 0;
  }

  .chaarts[class*="column"] tr > * + * {
    text-align: center;
  }

  .chaarts[class*="column"] tr,
  .chaarts[class*="column"] tbody,
  .chaarts[class*="column"] thead {
    display: contents;
  }

  .chaarts[class*="column"] caption {
    grid-column: 1 / span var(--y);
    grid-row: -1;
  }

  .chaarts[class*="column"] td {
    --integer: calc(var(--value));
    grid-row: calc( (var(--scale, 100) + 2) - var(--integer) ) / -2;
    pointer-events: none;
    position: relative;
    transition: opacity .2s cubic-bezier(.5, 0, .5, 1);
  }

  .chaarts[class*="column"] span {
    background: inherit;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    bottom: 100%;
    left: 0;
    line-height: 1.5;
    pointer-events: auto;
    position: absolute;
    right: 0;
  }

  /* @note Sass @each() */
  .chaarts[class*="column"] td:nth-of-type(2) {
    grid-column: 3;
  }

  .chaarts.column-single {
    grid-auto-columns: 1fr;
    grid-template-rows: 2ex repeat(var(--scale, 100), minmax(0, .25rem)) minmax(min-content, 2rem);
  }

  .chaarts.column-single tbody th {
    grid-row: -6 / -3;
    grid-column: 1;
    line-height: 1;
  }

  .chaarts.column-single thead * {
    grid-row: -2;
  }

  .chaarts.column-single td {
    --position: calc(var(--integer, 0) / var(--scale, 100) * 100%);
    background-blend-mode: hard-light;
      linear-gradient(to top,
        #01ac49,
        #444,
        mediumblue,
        rebeccapurple,
        crimson
      ) 0% var(--position) / 100% var(--size),
      var(--background) center / $gutter;
  }

  .chaarts.column-single [scope="col"]::after {
    background: whitesmoke var(--stripes);
    background-blend-mode: exclusion;
    bottom: 4rem;
    content: "";
    mix-blend-mode: multiply;
    opacity: 0;
    position: absolute;
    transition: opacity .3s cubic-bezier(.5, 0, .5, 1);
    top: 1rem;
    width: var(--width);
    z-index: 0;
  }

  .chaarts.column-single [scope="col"]:hover::after {
    opacity: .5;
  }

  /* @note Sass @each() */
  .chaarts.column-single [scope="col"]:nth-child(3)::after {
    left: calc(1em + (var(--width) * 2) + (var(--gap) * 2));
  }

  /* @note Sass @each() */
  .chaarts.column-single td:nth-of-type(2n + 2) {
    --background: var(--stripes);
  }

  @media screen and (-ms-high-contrast: active) {
    .chaarts.column-single td {
      background-image:
        linear-gradient(to top,
          Window,
          ButtonFace,
          ButtonShadow,
          ButtonText,
          highlight
        ),
        var(--background);
    }
  }
}</code></pre>
