<pre><code class="language-markup">&lt;table class="chaarts radar" id="radar" style="--scale: 20; --step: 5; --items: 7; --1: 14; --2: 11; --3: 13; --4: 16; --5: 10; --6: 12; --7: 4; --8: var(--1);">
  &lt;caption id="caption-9">[…]&lt;/caption>
  &lt;thead>
   &lt;tr>
     &lt;th scope="col">[…]&lt;/th>
     &lt;th scope="col">[…]&lt;/th>
   &lt;/tr>
  &lt;/thead>
  &lt;tbody>
   &lt;tr>
     &lt;td>&lt;span>14&lt;/span>&lt;/td>
     &lt;td>&lt;span>11&lt;/span>&lt;/td>
   &lt;/tr>
  &lt;/tbody>
&lt;/table&gt;</code></pre>
