<pre><code class="language-markup">&lt;table class="chaarts radar-multiple" id="radar-multiple" style="--scale: 20; --step: 5; --items: 7; --areas: 2;">
  &lt;caption id="caption-9">[…]&lt;/caption>
  &lt;thead>
   &lt;tr>
     &lt;th scope="col">[…]&lt;/th>
     &lt;th scope="col">[…]&lt;/th>
   &lt;/tr>
  &lt;/thead>
  &lt;tbody>
   &lt;tr style="--color: #734bf9; --1: 14; --2: 11; --3: 13; --4: 16; --5: 14; --6: 10; --7: 4; --8: var(--1);">
     &lt;th scope="row">Gaël&lt;/th>
     &lt;td>&lt;span>14&lt;/span>&lt;/td>
   &lt;/tr>
   &lt;tr style="-color: #e11a81; --1: 18; --2: 10; --3: 11; --4: 16; --5: 10; --6: 12; --7: 11; --8: var(--1);">
     &lt;th scope="row">Luc&lt;/th>
     &lt;td>&lt;span>18&lt;/span>&lt;/td>
   &lt;/tr>
  &lt;/tbody>
&lt;/table&gt;</code></pre>
