#
# HTACCESS : useful tips & tricks
# uses a lot of good ideas from html5-boilerplate https://github.com/h5bp
# https://github.com/h5bp/server-configs-apache
# 
# made by Nicolas (@nico3333fr) 
# under WTFPL license
# no warranty: can’t be responsible for anything if you use it
# "great power involves great responsibility"
#
# 

# ------------------------------------------------------------------------------
# | UTF-8 encoding |
# ------------------------------------------------------------------------------

<IfModule mod_mime.c>
    AddCharset utf-8 .atom .scss .css .js .json .jsonld .rss .vtt .webapp .xml .txt .svg .webmanifest .html .htm .md
</IfModule>

# ------------------------------------------------------------------------------
# | Password protection |
# ------------------------------------------------------------------------------

#AuthUserFile /home/your_path/.htpasswd
#AuthGroupFile /dev/null
#AuthName " Restricted access "
#AuthType basic

#<Limit GET POST>
#  Order Deny,Allow
#  Deny From All
#  Allow From 192.168.1.0/24

#  require valid-user
#  Satisfy Any
#</Limit>


# ------------------------------------------------------------------------------
# | Additionnal charset/types/etc. |
# ------------------------------------------------------------------------------

<IfModule mod_mime.c>

  # Audio
    AddType audio/mp4 m4a f4a f4b
    AddType audio/mpeg mp3
    AddType audio/ogg oga ogg opus
    AddType audio/wav wav
    AddType audio/webm webma

  # Data interchange
    AddType application/json json map
    AddType application/ld+json jsonld

  # JavaScript
    # Normalize to standard type.
    # http://tools.ietf.org/html/rfc4329#section-7.2
    AddType application/javascript js

  # Video
    AddType video/mp4 f4v f4p m4v mp4
    AddType video/ogg ogv
    AddType video/webm webm
    AddType video/x-flv flv

  # Web fonts
    AddType application/font-woff woff
    AddType application/vnd.ms-fontobject eot
    AddType application/x-font-ttf ttc ttf
    AddType application/x-font-woff woff
    AddType application/font-woff2 .woff2
    AddType font/opentype otf

  # Make SVGZ fonts work on the iPad.
  # https://twitter.com/FontSquirrel/status/14855840545
    AddType image/svg+xml svgz
    AddEncoding gzip svgz

  # Other
    AddType application/octet-stream safariextz
    AddType application/x-chrome-extension crx
    AddType application/x-opera-extension oex
    AddType application/x-web-app-manifest+json webapp
    AddType application/x-xpinstall xpi
    AddType application/xml atom rdf rss xml
    AddType image/webp webp
    AddType image/x-icon cur
    AddType image/vnd.microsoft.icon .ico
    AddType text/cache-manifest appcache manifest
    AddType text/css .css
    AddType image/svg+xml svg 
    AddType text/vtt vtt
    AddType text/x-component htc
    AddType text/x-vcard vcf
    AddType application/vnd.openxmlformats .docx .pptx .xlsx .xltx . xltm .dotx .potx .ppsx
    AddType image/webp .webp
    AddType application/manifest+json .webmanifest
</IfModule>

# ------------------------------------------------------------------------------
# | File access |
# ------------------------------------------------------------------------------

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# no listing for directories

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# block access to hidden files & directories

<IfModule mod_rewrite.c>
    RewriteCond %{SCRIPT_FILENAME} -d [OR]
    RewriteCond %{SCRIPT_FILENAME} -f
    RewriteRule "(^|/)\." - [F]
</IfModule>

# ------------------------------------------------------------------------------
# | Rewrite engine |
# ------------------------------------------------------------------------------

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
  # Options +SymLinksIfOwnerMatch
    RewriteEngine On
  # RewriteBase /
</IfModule>


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# examples

<IfModule mod_rewrite.c>

  # to avoid 404 errors generated by iOS
  # see http://www.creativejuiz.fr/blog/veille-technologique/ios-provoque-404-site-web-apple-touch-icon for reference
  RewriteRule ^apple-touch-icon-(.+)\.png apple-touch-icon.png [L]
  
  # Cache busting for CSS/JS
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.+)_(\d+)\.(js|css)$ $1.$3 [L]

</IfModule>

# ------------------------------------------------------------------------------
# | Compression |
# ------------------------------------------------------------------------------

<IfModule mod_deflate.c>
    AddOutputFilter INCLUDES;DEFLATE js
    AddOutputFilter INCLUDES;DEFLATE css
    AddOutputFilter INCLUDES;DEFLATE php
    AddOutputFilter INCLUDES;DEFLATE html
    AddOutputFilter INCLUDES;DEFLATE xml
    AddOutputFilter INCLUDES;DEFLATE ico

    # webfonts
    AddOutputFilter INCLUDES;DEFLATE eot
    AddOutputFilter INCLUDES;DEFLATE svg
    AddOutputFilter INCLUDES;DEFLATE ttf
    
    # others
    AddOutputFilter INCLUDES;DEFLATE vtt
    AddOutputFilter INCLUDES;DEFLATE webmanifest
</IfModule>

# ------------------------------------------------------------------------------
# | Security |
# ------------------------------------------------------------------------------

# Stops a browser from trying to MIME-sniff
<IfModule mod_headers.c>
  Header always set X-Content-Type-Options "nosniff"
</IfModule>

# Avoid Clickjacking and enable XSS-protection for browsers
<FilesMatch "\.(pl|php|cgi|spl)$">
  <IfModule mod_headers.c>
    # security
    Header set X-Frame-Options "DENY"
    Header set X-XSS-Protection "1; mode=block"
  </IfModule>
</FilesMatch>

# CORS
#<IfModule mod_headers.c>
#  Header set Access-Control-Allow-Origin "*"
#</IfModule>

# ------------------------------------------------------------------------------
# | Cache + |
# ------------------------------------------------------------------------------

# CACHE + ETags
<FilesMatch "\.(flv|gif|jpg|jpeg|png|ico|swf|ogv|mp4|webm|svg|ttf|woff|woff2|eot|js|css|pdf|txt|webp|webmanifest)$">
  <IfModule mod_headers.c>
    Header unset Set-Cookie
    Header set Cache-Control "max-age=21772800"
    header set vary "Accept-Encoding"
    header append vary "User-Agent"
    header append Cache-Control "public"
    header append Keep-Alive "timeout=5, max=100"
    header append Connection "Keep-Alive"
    FileETag None
  </IfModule>
</FilesMatch>

# 10 minutes = HTML, XML (RSS)
<FilesMatch "\.(html|htm|xml)$">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=600"
    header set vary "Accept-Encoding"
    header append vary "User-Agent"
    header append Cache-Control "private"
    FileETag None
  </IfModule>
</FilesMatch>
