@use "abstracts/variables";

// ====================
// == Columns Charts
//
// @note (!) Requires column chart
// ====================

.chaarts.column-multiple {
	grid-template-columns: minmax(min-content, 14ch) repeat(calc(var(--y) - 1), 1fr);
	grid-template-rows: 2ex repeat(var(--scale, 100), minmax(0, .25rem)) repeat(2, minmax(min-content, 2rem));

	span {
		background-image: none;
	}

	tbody th {
		grid-row: -10 / span 7;
	}

	thead tr * {
		grid-column: 1;
		grid-row: -2;

		@each $number in 2, 3, 4, 5, 6 {
			&:nth-of-type(#{$number}) {
				grid-column: calc(#{($number * 2)} - var(--span)) / span var(--span);
			}
		}
	}

	thead tr + tr * {
		font-weight: normal;
		grid-row: -3;

		@each $number in 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 {
			&:nth-of-type(#{$number}) {
				grid-column: #{$number};
			}
		}
	}

	[scope="colgroup"] {
		&:nth-child(even)::after {
			background: var(--background) var(--stripes);
			background-blend-mode: exclusion;
			content: "";
			inline-size: calc((var(--width) * 2) + (var(--gap) / 2) + 1px);
			inset-block-end: #{variables.$gutter * 4};
			inset-block-start: calc(#{variables.$gutter} + 2ex);
			mix-blend-mode: color;
			opacity: .25;
			position: absolute;
			transition: opacity .3s var(--move);
			z-index: 0;
		}

		@each $number in 1, 3, 5 {
			&:nth-child(#{$number + 1})::after {
				inset-inline-start: calc(14ch + 1em + (((var(--width) * 2) + (var(--gap) / 2) + 1px) * #{$number - 1}) + (var(--gap) * #{$number}));
			}
		}
	}

	td {
		background-color: var(--chaarts-pink);
		background-image: var(--zig);
		grid-row-end: -3;
	}

	// @note Oh boy, if we could use var(--span) in selector…
	td:nth-of-type(2n + 2) {
		background: var(--chaarts-blue) var(--triangles);
	}
}
