@charset "UTF-8";

/* ==================== */
/* == Vendors
/* ==================== */
@import "sseeeedd/src/scss/styles";
@import "vendors/prism";

.mb-0 {
  margin-bottom: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.fly-out [rel]::before {
  content: "\1F30D\A0";
}

/* ==================== */
/* == Chaarts
/* ==================== */
@import "../../sass/chaarts";
